.project-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.50);
  visibility: hidden;
  transition: all .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.project-drawer-inactive {
  visibility: visible;
}

.project-drawer-form {
  flex-direction: column;
  height: 100%;
  width: 480px !important;
  padding: 0 !important;
  background-color: #ffffff;
  position: absolute !important;
  right: -500px;
  box-shadow: 0px 10px 20px 0px rgba(18, 38, 63, 0.03);
  transition: right .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.project-drawer-form-inactive {
  right: 0 !important;
}

.project-drawer-form-content {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 16px 24px 76px;
}

.title {
  height: 52px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #495057;
  font-family: HelveticaNeue-Bold;
  padding: 0 24px;
}

.title-left {
  flex: 1;
}

.btn-cancel {
  margin-right: 8px !important;
}

.divider {
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.13);
  margin: 0 16px;
}

.title-close {
  cursor: pointer;
  font-size: 16px !important;
}

.label-required {
  color: #ff5f57;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
  height: 16px;
  display: inline-block;
}

.description {
  :global {
    textarea {
      min-height: 160px !important;
    }
  }
}

.formItem {
  margin-bottom: 16px;
}
