# This docker compose setup configures:
# - the Feature Probe API instance + the necessary backing MySQL database
# - the Feature Probe UI
# - the Feature Probe Server
# - the Feature Probe OpenAPI Document

version: "2.3"
services:
  backendAPI:
    image: featureprobe/api
    ports:
      - "4008:4008"
    environment:
      - spring.datasource.jdbc-url=jdbc:mysql://database:13306/feature_probe?useSSL=false&characterEncoding=utf8&autoReconnect=true&failOverReadOnly=false&rewriteBatchedStatements=TRUE&useSSL=false&serverTimezone=Asia/Shanghai
      - spring.profiles.active=online
      - spring.jpa.show-sql=false
      - logging.level.root=INFO
      - logging.level.org.hibernate.SQL=INFO
      - logging.level.org.hibernate.type.descriptor.sql.BasicBinder=INFO
      - server.port=4008
      - TZ=Asia/Shanghai
    networks:
      - featureProbeNet
    depends_on:
      - database
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:4008/api/actuator/health"]
      timeout: 5s
      interval: 10s
      retries: 10

  serverAPI:
    image: featureprobe/server
    ports:
      - "4007:4007"
    environment:
      - RUST_LOG=info
      - FP_SERVER_PORT=4007
      - FP_TOGGLES_URL=http://backendAPI:4008/api/server/toggles
      - FP_EVENTS_URL=http://backendAPI:4008/api/server/events
      - FP_KEYS_URL=http://backendAPI:4008/api/server/sdk_keys
      - FP_REFRESH_SECONDS=3
      - TZ=Asia/Shanghai
    networks:
      - featureProbeNet
    depends_on:
      backendAPI:
        condition: service_healthy

  ui:
    image: featureprobe/ui
    ports:
      - "4009:4009"
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./nginx_configs/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - featureProbeNet
    depends_on:
      - backendAPI
      - serverAPI
      - redoc

  database:
    image: mariadb:10.5.8
    ports:
      - "13306:13306"
    networks:
      - featureProbeNet
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=feature_probe
      - MYSQL_TCP_PORT=13306

  redoc:
    image: redocly/redoc
    ports:
      - "4010:4010" 
    environment:
      - SPEC_URL=/api/v3/api-docs.yaml
      - PORT=4010
      - PAGE_TITLE=Feature Probe OpenAPI
    networks:
      - featureProbeNet

networks:
  featureProbeNet: 
