
.table-header {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  height: 42px;
  line-height: 42px;
  font-size: 13px;
  z-index: 1;

  :global {
    th {
      padding-bottom: 0 !important;
    }
  }
}

.table-body {
  position: relative;
  top: 1px;
}

.column-variation {
  padding-left: 32px !important;
}

.name {
  position: relative;
  display: flex;
  align-items: center;
}

.name-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  border-radius: 4px;
  margin-right: 4px;
}

.probability {
  background-color: rgba(86, 100, 255, 0.1) !important;
  border-left: 1px solid rgba(86, 100, 255, 0.8);
}