.segments {
  position: relative;
  padding: 0 20px;
  min-width: 1220px;
  overflow-x: auto;
}

.card {
  background-color: #ffffff;
  padding: 12px 24px 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 6px 3px rgba(0, 0, 0, 0.01), 0 2px 6px 0 rgba(0, 0, 0, 0.03);
  min-height: calc(100vh - 94px);
  margin-bottom: 56px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px 12px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
