.approvals {
  margin: 20px 20px 0;
  min-width: 1400px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 6px 3px rgba(0, 0, 0, 0.01), 0 2px 6px 0 rgba(0, 0, 0, 0.03);
  border-radius: 12px 12px 0 0;
  height: calc(100vh - 68px);
  padding: 24px;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navs {
  display: flex;
  font-size: 16px;
  color: #6d6f72;
}

.navs-item {
  margin-right: 24px;
  font-weight: 400;
  line-height: 31px;
  cursor: pointer;
  position: relative;
}

.navs-item-selected {
  color: #556ee6;
  font-weight: 500;
  border-bottom: 3px solid #556ee6;
  line-height: 31px;
}

.count {
  min-width: 20px;
  height: 20px;
  background: #f5483b;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: inline-block;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
  padding: 0 5px;
  position: absolute;
  top: -2px;
  right: -10px;
  text-align: center;
}
