.diff {
  height: 100%;
  background-color: #f8f9fa;
  padding-bottom: 24px;
}

.warning-circle {
  color: #0a70f5;
  margin-right: 8px;
}

.tips {
  display: flex;
  padding: 6px 24px;
  font-family: PingFangSC-Regular, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #0a70f5;
  line-height: 18px;
  background-color: #eff8ff;
}

.box {
  margin: 0 24px;
  border-radius: 8px;
  overflow: hidden;
}
