.flow-explain {
  position: fixed;
  right: 0;
  top: 500px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 6px 3px rgba(0, 0, 0, 0.01), 0 2px 6px 0 rgba(0, 0, 0, 0.03);
  z-index: 1000;
}

.left {
  width: 16px;
  height: 70px;
  background: #ffffff;
  border-radius: 8px 0 0 8px;
  align-self: center;
  line-height: 70px;
  color: #556ee6;
  cursor: pointer;
}

.right {
  width: 54px;
  height: 70px;
  background: #ffffff;
  text-align: center;
  font-size: 12px;
  color: #556ee6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right:hover {
  background: #f8f9fa;
}

.icon-flow {
  font-size: 24px !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #212529;
  margin-bottom: 16px;
  line-height: 26px;
}

.modal-close-icon {
  cursor: pointer;
}

.modal-header-text {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #212529;
}

.modal-image {
  width: 100%;
}

.modal-footer {
  text-align: right;
}
