.metrics {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 6px 3px rgba(0, 0, 0, 0.01), 0 2px 6px 0 rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  padding: 16px 24px;
  height: calc(100vh - 342px);
  min-height: 500px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations {
  display: flex;
}

.menus {
  width: 125px;
  height: 32px;
  margin-right: 16px;
  background: rgba(33, 37, 41, 0.04);
  border-radius: 8px;
  padding: 2px;
  text-align: center;
}

.menu-item {
  display: inline-block;
  width: 57px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.menu-item:first-child {
  margin-right: 7px;
}

.menu-item-selected {
  background: #ffffff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.84);
}

.title-text {
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  color: #212529;
}

.title-select {
  min-width: 160px !important;
}

.angle-down {
  position: absolute;
  right: 10px;
  color: #74788d;
  top: 10px;
}

.content {
  display: flex;
  margin-top: 12px;
}

.variations {
  min-width: 240px;
  height: 320px;
  background: rgba(85, 110, 230, 0.04);
  border-radius: 12px;
  margin-right: 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #212529;
  margin: 12px 16px 0;
  border-bottom: 1px solid rgba(206, 212, 218, 0.6);
  padding-bottom: 11px;
}

.total {
  font-family: HelveticaNeue-Medium;
  font-size: 14px;
  color: #495057;
}

.table-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 16px;
}

.variation-name {
  display: flex;
  align-items: center;
  height: 44px;
}

.variation-name-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 136px;
}

.variation-name-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 4px;
}

.count {
  flex: 1;
  text-align: right;
}

.variation-name-deleted {
  opacity: 0.45;
  text-decoration: line-through;
}

.variation-deleted {
  opacity: 0.45;
}

.chart {
  flex: 1;
}

.no-data {
  text-align: center;
  margin-top: 70px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #adb5bc;
}

.no-data-image {
  width: 230px;
}

.no-data-text {
  margin-bottom: 4px;
}

.no-data-link {
  color: #556ee6;
  cursor: pointer;
  text-decoration: underline;
}