.status {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 3px 6px 3px rgba(0, 0, 0, 0.01), 0 2px 6px 0 rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
}

.joyride-status {
  display: inline-flex;
  width: auto;
}

.toggle-status {
  display: flex;
  font-size: 13px;
  color: #212529;
  align-items: center;
  margin-left: 12px;
}

.status-text {
  line-height: 28px;
  margin-left: 20px;
  font-size: 13px;
  color: #74788d;
  height: 28px;
}

.name-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.name-text {
  vertical-align: middle;
  margin-left: 4px;
  display: inline-block;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: -2px;
}

.variations {
  margin-top: 12px;
  background-color: #fff;
  border-radius: 12px;
  padding: 12px 20px 12px 24px;
}

.toggle-status-text {
  margin-right: 12px;
}

.rules {
  margin-top: 12px;
  background-color: #fff;
  border-radius: 12px;
  padding: 0 24px 12px;
}

.disabled-return {
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  margin-top: 12px;
  padding: 0 24px 12px;
}


.footer {
  height: 56px;
  background: #fff;
  border-top: 1px solid #ebedef;
  line-height: 56px;
  padding: 0 20px;
  position: sticky;
  bottom: 0;
  right: 30px;
  left: 220px;
  z-index: 1;
}

.publish-btn {
  margin-right: 8px !important;
}

.publish-btn-loader {
  margin-right: 5px !important;
}

.publish-btn-text {
  vertical-align: middle;
}
