.diff-item {
  height: 28px;
  background-color: #fff;

  & > * {
    height: 28px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.table-header-name,
.table-item-name {
  padding-left: 20px !important;
}

.diff-content {
  overflow-x: auto;
}
