.serve {
  width: 600px;
}

.serve-select {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.serve-text {
  width: 52px;
  font-size: 13px;
  color: #212529;
}

.label-required {
  color: #ff5f57;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 4px;
  height: 16px;
  display: inline-block;
}

.serve-form-field {
  width: 328px;
}

.serve-dropdown {
  width: 316px;
}

.percentage-content {
  margin-left: 52px;
}

.percentage {
  display: flex;
  height: 14px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(206, 212, 218, 0.7);
  margin-bottom: 8px;
}

.percentage-item {
  display: inline-block;
}

.message {
  width: 100%;
  height: 27px;
  background: #fff5f4;
  border-radius: 6px;
  line-height: 27px;
  font-size: 12px;
  color: #592d00;
  padding: 0 14px;
}

.message-iconfont {
  color: #f5483b;
  vertical-align: middle;
  margin-right: 4px;
}

.variation {
  margin-top: 8px;
}

.variation-item {
  display: flex;
  align-items: center;
  margin: 12px 0;

  :global .ui.icon.input > input {
    padding-right: 50px !important;
  }
}

.variation-item-input {
  width: 100px !important;
}

.input-percentage {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 13px;
  color: #495057;
  width: 24px;
  height: 23px;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  line-height: 24px;
}

.input-operation {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  padding-top: 1px;
}

.iconfont {
  font-size: 12px !important;
  height: 10px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.variation-name {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
}

.variation-name-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 420px;
}

.variation-name-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 4px;
}

.dropdown-variation {
  display: flex;
  align-items: center;
}

.dropdown-variation-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 4px;
}

.dropdown-variation-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.angle-down {
  position: absolute;
  right: 10px;
  color: #74788d;
  top: 8px;
}

.error-text {
  color: #f46a6a;
  font-size: 12px;
}