.modal-inner-box {
  height: 631px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-family: PingFangSC-Medium, sans-serif;
  font-size: 16px;
  color: #212529;
  height: 25px;
  margin-bottom: 9px;
}

.modal-header-icon {
  font-size: 16px !important;
  cursor: pointer;
  color: #495057;
}

.modal-info-circle {
  font-size: 17px;
  color: #0a70f5;
  margin-right: 9px;
}

.modal-tips {
  height: 36px;
  background: #EFF8FF;
  font-size: 14px;
  color: #042866;
  line-height: 36px;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 16px;
}

.modal-content {
  margin-top: 52px;
}

.table-header {
  background: #f8f9fa;
  height: 42px;
  line-height: 42px;
  font-size: 13px;
}

.table-header > .ui.table thead th {
  padding: 0 !important
}

.column-toggle {
  min-width: 257px;
  padding-bottom: 0 !important;
  padding-left: 24px !important;
}

.column-environment {
  min-width: 100px;
  padding-bottom: 0 !important;
}

.column-status {
  padding-bottom: 0 !important;
}

.list-item {
  cursor: pointer;
  outline: 1px solid transparent;
  border-radius: 8px;
  height: 72px;
}

.list-item-enabled {
  background-color: rgba(245, 72, 59, 0.05);

  :global {
    td {
      border-bottom: 1px solid rgba(245, 72, 59, 0.1) !important;
    }
  }
}

.list-item:hover {
  outline: 1px solid #556ee6;
  background: rgba(85, 110, 230, 0.04);
  border-radius: 8px !important;
  -moz-outline-radius: 8px;
}

.toggle-status {
  align-items: center;
  display: flex;
  font-size: 15px;
}

.toggle-status-icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
}

.toggle-status-text {
  margin-left: 4px;
}

.toggle-status-icon-disabled {
  background: #ff5e1a;
}

.toggle-status-text-disabled {
  color: #ff5e1a;
}

.toggle-status-icon-enabled {
  background: #34c38f;
}

.toggle-status-text-enabled {
  color: #34c38f;
}

.pagination {
  margin-top: 16px;
  text-align: right;
}

.modal-footer {
  display: flex;
  height: 43px;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #ced4da;

  & > button {
    margin-left: 8px !important;
  }
}

.comment {
  margin: 24px -16px 0;
  padding: 0 24px;
  align-items: center;
}

.comment-title {
  margin-bottom: 8px;
}

.comment-content {
  height: 190px;
  overflow: auto;
}

.comment-input {
  :global {
    .ui.input {
      width: 100%;
    }

    .ui.input > input {
      height: 32px;
    }
  }
}

.toggle-info {
  display: flex;
  align-items: center;
  padding-left: 32px;
  position: relative;
}

.toggle-info-name {
  color: #556ee6;
  font-size: 15px;
  font-family: HelveticaNeue-Medium, sans-serif;
}

.toggle-info-key {
  margin-left: 8px;
  height: 16px;
  line-height: 16px;
  background: rgba(85, 110, 230, 0.1);
  border-radius: 4px;
  font-size: 10px;
  color: #556ee6;
  padding: 0 4px;
}

.toggle-info-key-label {
  transform: scale(0.9);
}

.toggle-info-description {
  margin-top: 10px;
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 32px;
  font-size: 12px;
  color: #495057;
}

.diff-box {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 -16px -4px;
}
