.modal-header-text {
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.modal-content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
  margin-left: 40px;
  height: 20px;
  margin-bottom: 20px;
}

.warning-circle {
  font-size: 20px !important;
  color: #f5483b;
  padding: 0 10px;
}

.footer {
  text-align: right;
}

.btn {
  margin-right: 8px !important;
}
