name: API Build & Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'feature-probe-api/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'feature-probe-api/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B verify --file ./feature-probe-api/pom.xml
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v2
