name: Deploy GCloud

on:
  workflow_dispatch:
  
jobs:
  build:
    # Allow the job to fetch a GitHub ID token
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.3.1'
        with:
          create_credentials_file: true
          workload_identity_provider: 'projects/363590592857/locations/global/workloadIdentityPools/github-action/providers/github'
          service_account: '363590592857-compute@developer.gserviceaccount.com'
          
          
      - id: 'gcloud'
        name: 'gcloud'
        run: |-
          gcloud auth login --brief --cred-file="${{ steps.auth.outputs.credentials_file_path }}"
          gcloud config set project tranquil-post-357802 
          gcloud compute ssh featureprobe --zone=asia-east1-a --command="sudo whoami"
        
