name: Publish Docker Image

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag'
        required: true
        default: 'alpha'
        type: string
      build_select:
        description: 'Submodule to release'
        required: true
        default: 'all'
        type: choice
        options:
        - all
        - api
        - ui

permissions:
  contents: read
  
jobs:
  release_api:
    name: Release API
    if: ${{ github.event_name == 'release' || inputs.build_select != 'ui' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
          
      - name: Build with Maven
        run: mvn -B package --file ./feature-probe-api/pom.xml
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
            
      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Docker Build API (by release)
        if: ${{ github.event_name == 'release' }}
        run: |
          docker buildx build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag featureprobe/api:${GITHUB_REF#refs/tags/} \
            --tag featureprobe/api:latest \
            --file ./Dockerfile ./
        working-directory: ./feature-probe-api
    
      - name: Docker Build API (manual)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          docker buildx build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag featureprobe/api:$DOCKER_TAG \
            --tag featureprobe/api:latest \
            --file ./Dockerfile ./
        env:
          DOCKER_TAG: ${{ inputs.tag }}
        working-directory: ./feature-probe-api
      - name: Inspect image
        run: |
          docker buildx imagetools inspect featureprobe/api
        working-directory: ./feature-probe-api
  
  release_ui:
    name: Release UI
    if: ${{ github.event_name == 'release' || inputs.build_select != 'api' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
            
      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: yarn install
        run: yarn install --frozen-lockfile
        working-directory: ./feature-probe-ui
      
      - name: yarn build
        run: yarn build
        working-directory: ./feature-probe-ui
          
      - name: clean node env
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker buildx create --driver docker-container --use
          docker buildx inspect --bootstrap
          
      - name: Docker Build UI (by release)
        if: ${{ github.event_name == 'release' }}
        run: |
          docker buildx build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag featureprobe/ui:latest \
            --tag featureprobe/ui:${GITHUB_REF#refs/tags/} \
            --file ./Dockerfile ./
        working-directory: ./feature-probe-ui    
  
      - name: Docker Build UI (manually)
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          docker buildx build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag featureprobe/ui:latest \
            --tag featureprobe/ui:$DOCKER_TAG \
            --file ./Dockerfile ./
        env:
          DOCKER_TAG: ${{ inputs.tag }}
        working-directory: ./feature-probe-ui    
        
      - name: Inspect image
        run: |
          docker buildx imagetools inspect featureprobe/ui
        working-directory: ./feature-probe-ui  

  deployment:
    name: Deploy to Google Cloud
    uses: FeatureProbe/FeatureProbe/.github/workflows/gcloud.yml@main
    needs: [release_api, release_ui]
