name: Publish UI Docker Image

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: crazy-max/ghaction-docker-buildx@v3
      -
        name: Cache Docker layers
        uses: actions/cache@v2
        id: cache
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Docker Buildx (push)
        run: |
          docker buildx build \
            --cache-from "type=local,src=/tmp/.buildx-cache" \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --tag featureprobe/ui:latest \
            --tag featureprobe/ui:${GITHUB_REF#refs/tags/} \
            --file ./Dockerfile ./
        working-directory: ./feature-probe-ui    
      -
        name: Inspect image
        run: |
          docker buildx imagetools inspect featureprobe/ui
        working-directory: ./feature-probe-ui  
